

.header {
    min-height:50px;
    .navbar-greenhouse{
        background-color:$light-color;
        box-shadow: 0 4px 10px -10px rgba(0,0,0,.6);
        border-bottom-width: 1px;
        border-top-width: 0;
        border-bottom-style: solid;
        border-top-style: solid;
        border-color: rgba(234,234,234,1);
        li{
            font-weight:$medium-font-weight;
            padding-left:5px;
            padding-right:5px;
            .nav-link, .dropdown-menu {
                color:$text-color;
                font-size:$small-font-size;
                border:none;
                text-transform:uppercase;
                font-weight:$medium-font-weight;
            }
            .nav-link:hover{
                color:$text-hover;
            }
            a{
                margin-top:3px;
            }            
        }
        .active{
            a{
                color:$text-hover;
            }
            a:hover{
                color:$text-color;
            }
            .dropdown-menu{
                a{
                    color:$text-color;
                }
                a:hover{
                    color:$text-hover;
                }
                .active {
                    a{
                        color:$text-hover;
                    }
                    a:hover{
                        color:$text-color;
                    }
                }
            }
        }
        .navbar-brand{
            img{
                width:100%;
                height:13px;
            }
        }
        @media (min-width: 960px){
            .booking_button a{
                display: inline-block !important;
                padding: 10px 18px !important;
                background-color: $primary-color;
                color: $light-color ;
                border-radius: 25px;
                border: 1px solid $primary-color;
                margin-top:0px;
            }
            .booking_button a:hover{
                display: inline-block !important;
                padding: 10px 18px !important;
                background-color: $light-color;
                color: $primary-color;
                border-radius: 25px;
                border: 1px solid $primary-color;
                margin-top:0px;
            }
        }

    }
}

